<div class="nav_items">
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Dashbord</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faShop"></fa-icon>
    <span>Product</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Add Product</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Category</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Sellers</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Orders</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span>Transactions</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faContactBook"></fa-icon>
    <span>Messages</span>
  </div>
  <div class="nav_item">
    <fa-icon [icon]="faLocation"></fa-icon>
    <span>Location</span>
  </div>
</div>
