<div class="top_section">
  <app-top-widgets></app-top-widgets>
</div>
<div class="middle_section">
  <div class="widget middle_left">
    <app-sales-by-month> </app-sales-by-month>
  </div>
  <div class="widget middle_right">
    <app-sales-by-category></app-sales-by-category>
  </div>
</div>
<div class="bottom_section">
  <div class="widget bottom_left">
    <app-last-few-transactions></app-last-few-transactions>
  </div>
  <div class="widget bottom_right">
    <app-top-three-products></app-top-three-products>
  </div>
</div>
